<footer class="page-footer font-small cor-do-rodape pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/Projeto-Oceani-102406445563130" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/oceanicompany/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/projetooceani" target="_blank" class="icoGitHub">
                            <i class="fa fa-github-alt"aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2021 Copyright: <a class="text-light" href="https://github.com/projetooceaniexit">Oceani</a></span>
    </div>
</footer>
