ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-instagram:hover{
    background: linear-gradient(180deg, rgba(251,255,0,1) 0%, rgba(255,0,221,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.fa-linkedin-square:hover{
    color: #0072b1;
}