<div class="conteudo">
    <div class="container-fluid mt-5 nossaRede">
        <section class="our-webcoderskull padding-lg">
            <div class="container" id="contatos">
                <div class="row heading heading-icon">
                    <h2>Ong's</h2>
                </div>
                <ul class="row justify-content-center">
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/j58kI95.jpg" class="img-responsive"
                                    alt="foto bruna"></figure>
                            <h3>Greenpeace</h3>
                            <p>O Greenpeace existe porque nosso planeta precisa de quem o defenda. Nós precisamos de você!</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://doe.greenpeace.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/iC3cYKe.png" class="img-responsive"
                                    alt="Foto fernando"></figure>
                            <h3>Mar Limpo</h3>
                            <p>Você gostaria de ajudar a manter o Mar Limpo?</p>
                            <ul class="follow-us clearfix">
                                <li><a href=" https://marlimpo.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/8EMhXGt.png" class="img-responsive" alt="">
                            </figure>
                            <h3>IPÊ</h3>
                            <p>Desenvolver e disseminar modelos inovadores de conservação da biodiversidade</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://www.ipe.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/mxJvi7M.png" class="img-responsive" alt="">
                            </figure>
                            <h3>Sea Shepherd</h3>
                            <p>A missão é proteger todas as espécies marinhas que vivem em nosso oceano.</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://seashepherd.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="row justify-content-center">
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/A45XE3R.jpg" class="img-responsive"
                                    alt="Foto da lívia"></figure>
                            <h3>Projeto Tamar</h3>
                            <p>Recuperação das tartarugas marinhas, ações de pesquisa, conservação e inclusão social.</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://www.tamar.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/b22jQEx.jpg" class="img-responsive" alt="">
                            </figure>
                            <h3>SOS Mata Atlântica</h3>
                            <p>Inspirar a sociedade na defesa da Mata Atlântica</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://www.sosma.org.br/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/ujdn4C5.jpg" class="img-responsive"
                                    alt="Foto da lívia"></figure>
                            <h3>SOS Amazônia</h3>
                            <p>Atuamos para gerar transformações sociais e manter a floresta conservada.</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://sosamazonia.org.br/ " target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/2uOtYA6.png" class="img-responsive" alt="">
                            </figure>
                            <h3>WWF</h3>
                            <p>Conservar a biodiversidade para o benefício dos cidadãos de hoje e das futuras gerações.</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://www.wwf.org.br/natureza_brasileira/" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>