<div class="conteudo">
    <div class="container-fluid mt-5 nossaRede">
        <section class="our-webcoderskull padding-lg">
            <div class="container" id="contatos">
                <div class="row heading heading-icon">
                    <h2>Ongs</h2>
                </div>
                <ul class="row justify-content-center">
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/I7DxJXE.png" class="img-responsive"
                                    alt="foto bruna"></figure>
                            <h3>Bruna</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/BrunaGam" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/IvTVOjL.jpg" class="img-responsive"
                                    alt="Foto fernando"></figure>
                            <h3>Fernando</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/Fernando-Pozo" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/iybbBjL.jpg" class="img-responsive" alt="">
                            </figure>
                            <h3>Gabriel</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/GabrielAlvao" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/iybbBjL.jpg" class="img-responsive" alt="">
                            </figure>
                            <h3>Gabriel</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/GabrielAlvao" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="row justify-content-center">
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/j1mHenc.jpg" class="img-responsive"
                                    alt="Foto da lívia"></figure>
                            <h3>Lívia</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/liviaoliveiraa" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/GlHhout.jpg" class="img-responsive" alt="">
                            </figure>
                            <h3>Natasha</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/natxavier" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/j1mHenc.jpg" class="img-responsive"
                                    alt="Foto da lívia"></figure>
                            <h3>Lívia</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/liviaoliveiraa" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-3">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://i.imgur.com/GlHhout.jpg" class="img-responsive" alt="">
                            </figure>
                            <h3>Natasha</h3>
                            <p>Full Stack Java Jr</p>
                            <ul class="follow-us clearfix">
                                <li><a href="https://github.com/natxavier" target="_blank"><i class="fa fa-globe"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>