
.conteudo{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}
h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

a{
    padding: 18px 20px;
    text-decoration: none;
}

img{
    width: 500px;
    
}

@media (max-width: 375px){
    img{
        width: 85%;
    }
}

/* Efeito Parallax */

.caixa {
    position: relative;
    height: 100vh;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://i.imgur.com/E0Os5p1.jpg');
}


.conteudo-titulo {
    /* position: absolute;
    text-align: center; */
    display: flex;
    justify-content: center;
}

.conteudo-titulo span.titulo {
    color: #777;
    background-color: #111 ;
    padding: 18px 0;
    font-size: 25px;
    letter-spacing: 5px;
}