<div class="container-fluid vh-100 p-0">
    <div>

        <div class="caixa">
            <div class="conteudo-titulo">
                    <img src="https://i.imgur.com/gCpeQu7.png?1" alt="logo oceani">
            </div>
        </div>

        <div class="conteudo">
            <h3>Missão</h3>
            <p class="mt-4 mb-5"> O propósito da Oceani é interligar pessoas, microempreendedores, empresas e ONG’s em uma única rede de
                interação, no qual o objetivo é o desenvolvimento sustentável da proteção à vida marinha. Curtiu?
                Cadastre-se e conheça projetos, pessoas e empresas que possuem esse mesmo foco.</p>
        

        <div class="sobre" >
            <h3>Sobre Nós</h3>
            <p class="mt-4 d-flex justify-content-center"> Somos uma equipe formada por 5 integrantes curiosos e apaixonados por tecnologia
                 que se conheceram durante o BootCamp da Generation Brasil em julho de 2021. O propósito deste projeto é colocar em prática todos os nossos conhecimentos adquiridos ao longo do curso. A ideia surgiu por meio da ODS-14 | Vida na Água - Conservação e uso sustentável dos oceanos, dos mares e dos recursos marinhos para o desenvolvimento sustentável, e a partir desse conceito, tivemos a ideia de realizar a rede social Oceani a fim de integrar pessoas com projetos sociais, ONG’s, empresas e microempresas em um único lugar. Abaixo veja a nossa rede:   </p>
                <div class="d-flex justify-content-center">
                    <span class="titulo "> <button type="submit" class="btn btn-info mt-5 btn-lg" routerLink='/login'>Vamos lá!</button></span>
                </div>
        </div>



    </div>
</div>
