<div class="container-fluid">
    <div>
        <div class="caixa">
            <div class="conteudo-titulo">
                <span class="titulo">Missão</span>
            </div>
        </div>
        <div class="conteudo">
            <h3>Missão</h3>
            <p> O propósito da Oceani é interligar pessoas, microempreendedores, empresas e ONG’s em uma única rede de
                interação, no qual o objetivo é o desenvolvimento sustentável da proteção à vida marinha. Curtiu?
                Cadastre-se e conheça projetos, pessoas e empresas que possuem esse mesmo foco.</p>
        </div>
    </div>
</div>