<div class="container-fluid vh-100 p-0">
    <div>

        <div class="caixa">
            <div class="conteudo-titulo">
                    <img src="https://i.imgur.com/gCpeQu7.png?1" alt="logo oceani">
            </div>
        </div>
        <div class="conteudo">
            <h3>Missão</h3>
            <p class="mt-4"> O propósito da Oceani é interligar pessoas, microempreendedores, empresas e ONG’s em uma única rede de
                interação, no qual o objetivo é o desenvolvimento sustentável da proteção à vida marinha. Curtiu?
                Cadastre-se e conheça projetos, pessoas e empresas que possuem esse mesmo foco.</p>
                <div class="d-flex justify-content-center">
                    <span class="titulo "> <button type="submit" class="btn btn-info mt-5 btn-lg" routerLink='/login'>Vamos lá!</button></span>
                </div>
        </div>
    </div>
</div>
