
.conteudo{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

.icon{
    color: #777;
    font-size: 15pt;
  }
  
  .icon-size{
    color: #777;
    font-size: 50pt;
  }


h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

a{
    padding: 18px 20px;
    text-decoration: none;
    color: #000;
}


img{
    width: 500px;
    
}

.mg{
    margin-top: -25px;
}
@media (max-width: 375px){
    img{
        width: 85%;
    }
}

/* Menu Principal */

    
 

  .mainMenu li > a {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: 450;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }
  
  .main-header.fixed-nav #mainMenu li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .mainMenu li:not(:last-of-type) {
    margin-right: 30px;
  }
  
  .mainMenu li > a::before {
    position: absolute;
    content: "";
    width: calc(100% - 1px);
    height: 1px;
    background: rgb(0, 0, 0);
    bottom: -6px;
    left: 0;
  
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    z-index: -1;
  
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  
  .mainMenu li > a:hover::before,
  .mainMenu li > a.active::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }
  
  .main-header.fixed-nav #mainMenu li > a::before {
    background: #000;
  }
  
  .main-header {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    

  }
  
  .main-header.fixed-nav {
    top: 0;
    background: #777;
    -webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .main-header.fixed-nav .navbar-brand > img:last-of-type {
    display: block;
  }
  
  .main-header.fixed-nav .navbar-brand > img:first-of-type {
    display: none;
  }
  .navbar-brand {
    color: #777;
  }
  .main-header .navbar-brand img {
    max-width: 100px;
    animation: fadeInLeft 0.4s both 0.4s;
  }
  /* main-header end */
  @media (max-width: 991px) {
    /*header starts*/
  
    .collapse.in {
      display: block !important;
      padding: 0;
      clear: both;
    }
  
    .navbar-toggler {
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 25px;
      right: 0;
      border: none;
      border-radius: 0;
      outline: none !important;
    }
  
    .main-header .navbar {
      float: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  
    .main-header .navbar-nav {
      margin-top: 70px;
    }
  
    .main-header .navbar-nav li .nav-link {
      text-align: center;
      padding: 20px 15px;
      border-radius: 0px;
    }
  
    /**/
    .main-header .navbar-toggler .icon-bar {
      background-color: #fff;
      margin: 0 auto 6px;
      border-radius: 0;
      width: 30px;
      height: 3px;
      position: absolute;
      right: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  
    .main-header .navbar .navbar-toggler .icon-bar:first-child {
      margin-top: 3px;
    }
  
    .main-header .navbar-toggler .icon-bar-1 {
      width: 10px;
      top: 0px;
    }
  
    .main-header .navbar-toggler .icon-bar-2 {
      width: 16px;
      top: 12px;
    }
  
    .main-header .navbar-toggler .icon-bar-3 {
      width: 20px;
      top: 21px;
    }
  
    .main-header .current .icon-bar {
      margin-bottom: 5px;
      border-radius: 0;
      display: block;
    }
  
    .main-header .current .icon-bar-1 {
      width: 18px;
    }
  
    .main-header .current .icon-bar-2 {
      width: 30px;
    }
  
    .main-header .current .icon-bar-3 {
      width: 10px;
    }
  
    .main-header .navbar-toggler:hover .icon-bar {
      background-color: #fff;
    }
  
    .main-header .navbar-toggler:focus .icon-bar {
      background-color: #fff;
    }
  
    /*header ends*/
  }
  


/* Efeito Parallax */

.caixa {
    position: relative;
    height: 100vh;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('https://i.imgur.com/E0Os5p1.jpg');
}


.conteudo-titulo {
    /* position: absolute;
    text-align: center; */
    display: flex;
    justify-content: center;
}

.conteudo-titulo span.titulo {
    color: #777;
    background-color: #111 ;
    padding: 18px 0;
    font-size: 25px;
    letter-spacing: 5px;
}


/*sobre nos*/

.sobreNos{
  background-color: #a2d9ff;
  color: #000;
}

.row.heading h2 {
    color: #777;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull{
  background: url("#") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#777;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}