<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <a class="m-0 font-weight-bold text-white fs-16" (click)="sair()">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </ul>
    </div>
  </nav>