<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row col-12 collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="col-md-2 navbar-nav mr-auto d-flex justify-content-end ml-5">
        <li>
          <a href="#">
            <img src="https://i.imgur.com/D3jhYDa.png" alt="logo-menu" id="logo-menu">
          </a>
        </li>
      </ul>
      <ul class="col-md-3 navbar-nav ml-auto d-flex align-items-center cursor">
        <li><a class="m-0 font-weight-bold text-white fs-18 ml-5" routerLink='/inicio'><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a class="m-0 font-weight-bold text-white fs-18 ml-5" routerLink='/ongs'><i class="fa fa-building" aria-hidden="true"></i></a></li>
        <li><a class="m-0 font-weight-bold text-white fs-18 ml-5" routerLink='/inicio'><i class="fa fa-handshake-o" aria-hidden="true"></i></a></li>
        <li class="text-white"><a class="m-0 font-weight-bold text-white fs-18 ml-5" (click)="sair()"> <i class="fa fa-sign-out" aria-hidden="true"></i></a>Sair</li> 
      </ul>
    </div>
  </nav>