<div class="container-fluid">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Cadastrar</h3>
            </div>
            <div class="card-body">
                <form>
                    <!--Nome completo-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input [(ngModel)]='usuario.nome_completo' type="text" class="form-control" name="nome_completo"
                            id="nome_completo" placeholder="Nome Completo">
                    </div>
                    <!--Nome de usuario-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input [(ngModel)]='usuario.usuario' type="text" class="form-control" name="usuario"
                            id="usuario" placeholder="Nome de Usuario">
                    </div>
                    <!--Foto-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-picture-o"></i></span>
                        </div>
                        <input [(ngModel)]='usuario.foto' type="text" class="form-control" name="foto" id="foto"
                            placeholder="Link da foto do usuario">
                    </div>
                    <!--Data de nascimento-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input [(ngModel)]='usuario.dataNascimento' type="date" class="form-control" name="dataNascimento" id="dataNascimento" placeholder="dd/mm/aaaa">
                    </div>
                    <!--Senha-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" id="senha" placeholder="Digite uma senha">
                    </div>

                     <!--Confirmar senha-->
                     <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input [(ngModel)]='usuario.senha' type="password" class="form-control" name="senha" id="confirmSenha" placeholder="Confirmar senha">
                    </div>
                    <!--Tipo de usuario-->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-users"></i></span>
                        </div>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option> Selecione o tipo de usuário: </option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                            </select>
                    </div>
                </form>
            </div>
             <!--Botão-->
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-danger btn-lg mr-3" routerLink='/login'>Cancelar</button>

                <button type="submit" class="btn  login_btn ml-3" (click)='cadastrar()'>Cadastrar</button>
            </div>
        </div>
    </div>
</div>