<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center shadow-lg mb-3 rounded nav-item active">
        <img src="{{foto}}" class="img-fluid rounded-circle m-3" alt="Usuario">
        <div class="card-body">
          <h5 class="card-title">{{nome}}</h5>
          <a routerLink='/usuario' class="btn btn-info">Editar Perfil</a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 shadow-lg mb-3 p-3 rounded">
          <div class="form-group">
            <button class="btn btn-info btn-block " data-toggle="modal" data-target="#novaPostagem">Nova
              Postagem</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 shadow-lg mb-3 p-3 rounded dark2"
          *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="row d-flex align-items-center">
            <div class="col-12">
              <div class="row d-flex align-items-center">
                <div class="col-2">
                  <img src="{{item.usuario.foto}}" class="img-fluid rounded-circle m-3" alt="...">
                </div>
                <div class="col-10">
                  <p class="m-0 "><a [routerLink]="['/perfil-usuario', item.usuario.id]">{{item.usuario.nome}}</a></p>
                  <small class="text-muted">
                    postado em: {{item.data | date : 'dd/MM/yyy'}} às {{item.data | date : 'HH'}} hrs
                  </small>
                </div>
              </div>
              <h3 class="text-center mb-3">{{item.titulo}}</h3>
              <p>{{item.texto}}
              </p>
              <img class="img-fluid img-d-block" src="{{item.imagem}}" alt="foto da postagem">
              <hr>
              <div class="d-flex justify-content-around align-items-center">
                <div>
                  <button class="btn" (click)='findByIdPostagem(item.id)' (click)='curtida(item.id)'><i
                      class="fa fa-thumbs-up" aria-hidden="true"><p>{{item.curtida}}</p></i></button>
                </div>
                <div>
                  <a class="btn btn-info">Comentar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <!--
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Posgatem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o titulo">
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="tema">Escolha um tema ou <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>: </label>
            <select class="form-control" name="tema" id="tema">
              <option value="">Temas</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>

Modal -->


  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o titulo"
              [(ngModel)]='postagem.titulo'>
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3" [(ngModel)]="postagem.texto"></textarea>
          </div>
          <div class="form-group">
            <label for="imagem">imagem</label>
            <input [(ngModel)]="postagem.imagem" type="text" class="form-control" id="imagem"
              placeholder="Insira o link da imagem">
          </div>
          <div class="form-group">
            <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um
                novo</a>:</label>
            <select class="form-control" name="tema" id="tema" (change)='findByIdTema()' [(ngModel)]="idTema">
              <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="postar()" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Posts -->
